@using FastBus.Web.Models.User
@using Roles = FastBus.Domain.Enums.UserRoles;
@{
    ViewBag.Title = "Личный кабинет";
    var isUser = User.IsInRole(Roles.Buyer);
}
@if (isUser)
{
    Html.RenderPartial("Partials/_BuyerTabs");
}
else
{
    ViewBag.PageTitle = "Смена пароля";
    <div class="fb-row">
       @Html.Partial("Partials/_EditPassword", new EditPasswordModel())
    </div>
}
